@model RusTarihi.Models.Others.TsarVM

@{
    ViewBag.Title = $"{Model.FullName}";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <div class="panel-body">

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        <h4 class="text-center"><b>@ViewBag.Title</b></h4>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.ID)

                        @* fullname bölümü *@
                        <div class="form-group">
                            @Html.LabelFor(model => model.FullName, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control" }, @placeholder = "Çar Adı" })
                                @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        @* name bölümü *@
                        <div class="form-group">
                            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" }, @placeholder = "Tahta Çıkış Adı" })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        @* Selef bölümü *@
                        <div class="form-group">
                            @Html.LabelFor(model => model.Predecessor, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Predecessor, new { htmlAttributes = new { @class = "form-control" }, @placeholder = "Önce Gelen Çar" })
                                @Html.ValidationMessageFor(model => model.Predecessor, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        @* Halef Bölümü *@
                        <div class="form-group">
                            @Html.LabelFor(model => model.Successor, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Successor, new { htmlAttributes = new { @class = "form-control" }, @placeholder = "Sonra Gelen Çar Adı" })
                                @Html.ValidationMessageFor(model => model.Successor, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        @* hüküm süresi bölümü *@
                        <div class="form-group">
                            @Html.LabelFor(model => model.Reign, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Reign, new { htmlAttributes = new { @class = "form-control" }, @placeholder = "Hüküm Süresi" })
                                @Html.ValidationMessageFor(model => model.Reign, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        @* doğum tarihi bölümü *@
                        <div class="form-group">
                            @Html.LabelFor(model => model.BirhtDate, htmlAttributes: new { @class = "control-label col-lg-2" })
                            <div class="col-lg-12">
                                <div class="col-lg-6">
                                    <input type="date" class="form-control" name="BirhtDate" value="@Model.BirhtDate" />
                                </div>
                                <div class="col-lg-4">
                                    @Html.EditorFor(model => model.BirhtDate, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                                @Html.ValidationMessageFor(model => model.BirhtDate, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        @* ölüm tarihi bölümü *@
                        <div class="form-group">
                            @Html.LabelFor(model => model.DiedDate, htmlAttributes: new { @class = "control-label col-lg-2" })
                            <div class="col-lg-12">
                                <div class="col-lg-6">
                                    <input type="date" class="form-control" name="DiedDate" value="@Model.DiedDate" />
                                </div>
                                <div class="col-lg-4">
                                    @Html.EditorFor(model => model.DiedDate, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                                @Html.ValidationMessageFor(model => model.DiedDate, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        @* Yaş bölümü *@
                        <div class="form-group">
                            @Html.LabelFor(model => model.Age, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Age, new { htmlAttributes = new { @class = "form-control" }, @placeholer = "Yaş", @type = "number" })
                                @Html.ValidationMessageFor(model => model.Age, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        @* hanedan adı bölümü *@
                        <div class="form-group">
                            @Html.LabelFor(model => model.Dynasty, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Dynasty, new { htmlAttributes = new { @class = "form-control" }, @placeholder = "Hanedan Adı" })
                                @Html.ValidationMessageFor(model => model.Dynasty, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        @* CategoryID Dropdown *@
                        <div class="form-group">
                            @Html.LabelFor(model => model.CategoryID, "Kategori Seçin", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownList("CategoryID", null, "Seçiniz", htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.CategoryID, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        @* buton bölümü *@
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10 text-center">
                                <input type="submit" value="Güncelle" class="btn btn-warning" />
                                @Html.ActionLink("İptal", "TsarList", null, new { @class = "btn btn-danger" })
                            </div>
                        </div>
                    </div>
                }
            </div>
        </section>
    </div>
</div>