@*@model RusTarihi.Models.Tsars*@,
@*@model Tuple<List<RusTarihi.Models.Tsars>, List<RusTarihi.Models.Descriptions>, List<RusTarihi.Models.Pictures>, List<RusTarihi.Models.Comments>>*@

@model RusTarihi.Models.Tsars
@{
    ViewBag.Title = "TsarDetay";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}

<section id="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">


                <article>
                    <div class="post-image">
                        <div class="post-heading">
                            @*@foreach (var item in Model.Item1)
                                {
                                    <h3 class="text-center">@item.TsarName</h3>
                                }*@

                            <h3 class="text-center">@Model.TsarName</h3>

                        </div>
                        <div class="bottom-article">
                            <ul class="meta-post">
                                <li>
                                    <i class="icon-folder-open"></i>
                                    @*@foreach (var item in Model.Item2)
                                    {
                                        <article>
                                            <p>
                                                @item.Detail
                                            </p>

                                        </article>


                                    }>*@

                                </li>
                                @*<li><i class="icon-comments"></i><a href="#">4 Comments</a></li>*@
                            </ul>

                        </div>
                        @*@foreach (var item in Model.Item3)
                        {
                            <img src="@item.PictureSitePath" alt="" />
                        }*@

                    </div>
                    <p>
                        @* İçerik kısmından 10 karakterlik kısmı aldık *@
                        @*@Html.Raw(Model.)*@
                    </p>

                </article>

                @* Yorum Bölgesi *@
                <div class="row">
                    <div class="col-lg-8">
                        <h3>Yorum Yap</h3>
                        <form>
                            <div>
                                <input type="text" id="adsoyad" placeholder="Adınız Soyadınız" required class="form-control" />
                                <br />
                                <input type="email" id="eposta" placeholder="Mail adresiniz" required class="form-control" />
                                <br />
                                <textarea typeof="text" id="icerik" class="form-control"></textarea>
                                <br />
                                <button type="submit" class="btn btn-success" id="gonder" value="Yorum yap">Yorum Yap</button>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="row">
                    <div>
                        <h3>Çar Makale Yorumları</h3>
                        @* Onaylı yorumları getirir *@
                        @*@foreach (var item in Model.Item4.OrderByDescending(x => x.ID).Where(x => x.IsConfirm == true))
                        {
                            <p>@item.FullName - @item.Email</p>
                            <p>@item.Detail</p>
                            <hr />
                        }*@

                        @foreach (var item in Model.Comments.OrderByDescending(x => x.ID).Where(x => x.IsConfirm == true))
                        {
                            <p>@item.FullName - @item.Email</p>
                            <p>@item.Detail</p>
                            <hr />
                            }

                    </div>
                </div>


                @*<div id="pagination">
                        <span class="all">Page 1 of 3</span>
                        <span class="current">1</span>
                        <a href="#" class="inactive">2</a>
                        <a href="#" class="inactive">3</a>
                    </div>*@

            </div>
            <div class="col-lg-4">
                <aside class="right-sidebar">
                    <div class="widget">
                        <form class="form-search">
                            <input class="form-control" type="text" placeholder="Search..">
                        </form>
                    </div>
                    <div class="widget">
                        <h5 class="widgetheading">Kategoriler</h5>

                        @* Kategori Partial Bölgesi Tanımlandı *@
                        @{
                            Html.RenderAction("TsarCategoryPartial", "Home");
                        }

                    </div>
                    <div class="widget">
                        <h5 class="widgetheading">Son Blog Kayıtları</h5>
                        <ul class="recent">

                            @{
                                Html.RenderAction("TsarKayitPartial", "Home");
                            }

                        </ul>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</section>

<script src="~/Content/SiteContent/js/jquery.js"></script>
@* Yorumların eklenmesi için script yazıldı *@
<script type="text/javascript">
    $(document).ready(function () {
        @* yorum bölgesindeki buton id değeri(gonder) alındı *@
        $("#gonder").click(function () {

            @* yorum bölgesindek, inputların id'leri alındı(adsoyad,eposta,icerik) *@
            var adisoyadi = $("#adsoyad").val();
            var epostasi = $("#eposta").val();
            var yorumunuz = $("#icerik").val();

            $.ajax({
                url: '/Home/YorumYap/',
                data: {adsoyad: adisoyadi,eposta: epostasi,icerik: yorumunuz,tsarid:@Model.ID.},
                type: 'POST',
                dataType: 'json',
                success: function (data) {
                    alert("Yorumunuz Eklendi,Kontrol Edildikten Sonra Yayınlanacak");
                }
            });
        });
    })
</script>


