@model RusTarihi.Models.Others.PictureVM

@{
    ViewBag.Title = "Resim Düzenleme Formu";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <div class="panel-body">

                @using (Html.BeginForm("PictureEdit", "Pictures", FormMethod.Post, new { @enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        <h4 class="text-center"><b style="color:red">@ViewBag.Title</b></h4>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.ID)

                        @* Eski  Resim Düzenle Bölümü *@
                        <div class="form-group">
                            @Html.LabelFor(model => model.PictureSitePath, "Eski Çar Resmi: ", new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <img src="@Model.PictureSitePath" width="100" height="100" />
                                @Html.ValidationMessageFor(model => model.PictureSitePath, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        @* Yeni  Resim Düzenle Bölümü *@
                        <div class="form-group">
                            @Html.LabelFor(model => model.PictureSitePath, "Resim Yükleyin", new { @class = "control-label col-md-2" })
                            <div class="col-md-3">
                                <input type="file" name="PictureSitePath" class="form-control1" accept=".jpg,.jpeg,.png" width="100" height="100" />
                            </div>
                        </div>

                        @* TsarID Dropdown *@
                        <div class="form-group">
                            @Html.LabelFor(model => model.TsarID, "Çar Seçin", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownList("TsarID", null, "Seçiniz", htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.TsarID, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Güncelle" class="btn btn-warning" />
                                @Html.ActionLink("İptal", "PictureList", null, new { @class = "btn btn-danger" })
                            </div>
                        </div>
                    </div>
                }
            </div>
        </section>
    </div>
</div>
